<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Setream</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
  <header class="header-bar mb-3";>
    <div class="container d-flex flex-column flex-md-row align-items-center p-3">
      <h4 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="text-white">Setream</a></h4>
      <div class="flex-row my-4 my-md-0">
        <a class="text btn-sm btn-success mr-2 text-white" > <%= username %> olarak giriş yaptınız</a>
        <form action="/logout" method="POST" class="d-inline">
          <button class="btn btn-sm btn-secondary">Çıkış</button>
        </form>
      </div>     
    </div>
  </header>
  <!-- header ends here -->

      
  <!-- MODAL 1 soru -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
            <h1>title</h1>
          </div>
          <div class="modal-body">
          <div id="cevap" class="container">
            <div class="row">
              <div class="col-sm">
                <button id="aSikki" type="button" class="aCevap btn btn-primary rounded-circle btn-lg">A</button>
              </div>
              <div class="col-sm">
                <button id="bSikki" type="button" class="bCevap btn btn-warning rounded-circle btn-lg">B</button>
              </div>
              <div class="col-sm">
                <button id="cSikki" type="button" class="cCevap btn btn-success rounded-circle btn-lg">C</button>
              </div>
              <div class="col-sm">
                <button id="dSikki" type="button" class="dCevap btn btn-danger rounded-circle btn-lg">D</button>
              </div>
            </div>
          </div>
          </div>
          <div class="modal-footer">
            <input class="btn btn-secondary" data-dismiss="modal" value="Kapat">
          </div>
      </div>  
    </div>
  </div>



  <div class="container">
    <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe id="FrameId" src="https://player.vimeo.com/video/539966988?autoplay=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div><script src="https://player.vimeo.com/api/player.js"></script>
      
      <form id="create-form" action="create-item" method="POST">
        <p></p>
          
          <div class="d-flex">
            <textarea id="create-field2" name="yorum" class="form-control mr-1" type="yorum" class="form-control mr-3" id="comment" cols="30" placeholder="Sorunuz"></textarea>
            <button type="submit" class="btn btn-success">Gönder</button>
          </div>
          
        </form>
  </div>

<!-- deneme gizli button-->
<form action="/stream" method="POST">
<button type="submit" id="gonder">gonder</button>
</form>

  
  <!-- footer begins -->
  <footer class="border-top text-center small text-muted py-3">
    <p class="m-0">Copyright &copy; 2021 <a href="/" class="text-muted">Setream</a>. Tüm hakları saklıdır.</p>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script>$('[data-toggle="tooltip"]').tooltip()</script>
  <script type="text/javascript">
    $(window).on('load', function() {
      $('#myModal').modal({backdrop: 'static', keyboard: false}) 
        $('#myModal').modal('show');
    });
</script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/mainPage.js"></script>
  <script src="/admin-panel.js"></script>


</body>
</html>